$min_width: 20rem;
$min_height: 20rem;
$width: 30rem;

.auth-wrapper {
    height: 100%;
    background: {
        image: url('../../assets/background.png');
        repeat: no-repeat;
        size: cover;
    }
}

.forgot-password-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;

    .forgot-password-form-wrapper {
        background-color: white;
        border-radius: 1rem;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $min_width;
        min-height: $min_height;
        opacity: 0.9;
        padding: 1rem;

        a {
            color: white !important;
        }

        .forgot-password-form {
            width: $width;
            text-align: center;

            .form-field {
                display: flex;
                align-items: center;
                margin-top: 1rem;
                margin-bottom: 2rem;

                .MuiFormControl-root {
                    width: 100% !important;
                }
            }

            .sent-email {
                text-align: center;

                a {
                    color: var(--bs-link-color) !important;
                }

                .btn-resend {
                    color: var(--bs-link-color) !important;
                    cursor: pointer;
                }
            }
        }
    }
}
