.multiple-language {
    .select-language-btn {
        svg {
            margin-right: 1rem;
        }
    }

    .language-icon {
        width: 20px;
        height: auto;
        margin-right: 0.3rem;
    }
}
