.multiple-language {
    .select-language-btn {
        cursor: pointer;
    }

    .language-icon {
        width: 20px;
        height: auto;
        margin-right: 0.3rem;
        border-radius: 50%;
        border: 1px solid white;
    }
}
