.company-search {
    .btn-register {
        position: relative;
        text-align: center;
        color: #15f4ee;
        text-transform: uppercase;
        cursor: pointer;
        transition: 1.5s;
    }
    .btn-register:hover {
        letter-spacing: 10px;
        // box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee, 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
        // text-shadow: 0 0 5px orange, 0 0 5px orange;
    }
}
