.company-search {
    .particletext {
        position: relative;
        color: transparent;
        font-weight: 800;
        background-color: #df6c4f !important;
        background-position: 50% 50%;
        background: url('../../assets/background-title.png') repeat-y;
        -webkit-background-clip: text;
        animation: slide 2s linear infinite;
    }

    @keyframes slide {
        0% {
            background-position: 50% 50%;
        }
        100% {
            background-position: 60% 100%;
        }
    }
}
